<div class="loader" *ngIf="loading"></div>

<ng-container *ngIf="! loading">
    <h5 class="text-danger">Browse for SECRETOME/PROP/PSORT/SignalP/TMHMM</h5>
    <form [formGroup]="queryForm" (ngSubmit)="processQuery()">
        <div class="form-group row">
            <label for="staticEmail" class="col-md-3 col-form-label">Select an organism</label>
            <div class="col-md-6">
                <select formControlName="organism_name" id="organism_name" class="custom-select">
                    <option value=""></option>
                    <option *ngFor="let item of listItems" value="{{ item.organism + '-' + item.version }}">{{ item.label }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="output" class="col-md-3 col-form-label">Select output</label>
            <div class="col-md-6">
                <select formControlName="output" id="output" class="custom-select">
                    <option value=""></option>
                    <option *ngFor="let item of selOutputs" value="{{ item }}">{{ item }}</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary px-3" [disabled]="!queryForm.valid || processingQuery"><span *ngIf="!processingQuery"><i class="fas fa-search"></i> Search</span><span *ngIf="processingQuery">Please Wait...</span></button>
    </form>

    <ng-container *ngIf="queryItem">
        <hr>
        <h3 class="text-primary">Search Results <span *ngIf="queryItem">({{ queryItem.query.length }})</span></h3>
        <table id="secretome-search-result" class="table table-striped table-sm my-3"></table>
    </ng-container>    

    <div class="alert alert-danger mt-3" role="alert">Secretome server predicts leaderless signal peptides and this is a feature based method contrary to signalP. SignalP on the otherhand, is a popular protein secretion prediction program based on leader sequences. In addition, there are several other prediction methods that helps understand the proteins better such as PROP, PSORT, TMHMM. PROP (predicts pro-protein cleavage sites at arginine and lysine residues (PMID: 14985543) using neural network. TMHMM predicts transmembrane regions of a protein and PSORT predicts sub-cellular localization of a protein. The parsed curated data of all the softwares mentioned above are available for download using this query option.</div>
</ng-container>
