<app-top-bar></app-top-bar>
<app-nav-bar></app-nav-bar>

<div class="container">
    <div id="query_page">
        <div class="box">
            <div class="buffer">
                <h2>Download Page</h2>
                <br><br>
                <div class="download_p">
                    The following files are currently available for download from EumicrobeDB servers. For query or usage permission related information contact us at tsucheta@gmail.com.
                    <br><br><br>
                    <table id="download" class="table table-bordered">
                        <tbody>
                            <tr>
                                <th class="bg-primary text-white">
                                    File Types
                                </th>
                                <th class="bg-primary text-white">
                                    Links
                                </th>
                            </tr>
                            <tr>
                                <td>Oomycetes Genomes</td>
                                <td>
                                    <a href="/genome">Download</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Oomycetes Protein sequences</td>
                                <td>
                                    <a href="/proteins">Download</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Oomycetes gff files</td>
                                <td>
                                    <a href="/gff">Download</a>
                                </td>
                            </tr>
                            <tr>
                                <td>List of genome fasta file names and the list of scaffolds for use in EMBOSS</td>
                                <td>
                                    <a href="/ForEMBOSS">Download</a>
                                </td>
                            </tr>
                            <tr>
                                <td>List of genome prefixes and their corresponding transcript name maps</td>
                                <td>
                                    <a href="/genePrefixAndMAP/genePrefix.html">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Template GFF file for testing on browser</td>
                                <td>
                                    <a href="/eumicrobedb/gff_download.php">Download</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Cluster Information</td>
                                <td>
                                    <a href="/eumicrobedb/view_cluster.php">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i>Phytophthora sojae</i>
                                    annotation mapping between v1 and v5</td>
                                <td>
                                    <a href="/eumicrobedb/physo_map_down.php">
                                        Download
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="break"></div>
                    <br><br><br>
                    * Genomes of Phytophthora parasitica, Saprolegnia diclina, Aphanomyces astaci, Aphanomyces invadans are unpublished and under restricted user access. More information on usage, download of sequences these organisms can be obtained from https://olive.broadinstitute.org site
                    <br><br>** Genomes of Phytophthora cinnamomi is unpublished and is under restricted user access. More information on usage and download of sequence data of this organism can be obtained from http://jgi.doe.gov site
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>