#query_page .box {
    background-color: #E2E6E9;
    padding: 5px;
    margin-bottom: 5px;
}

#query_page .box .buffer {
    background: #ffffff url(../../assets/images/header.gif) repeat-x 0 0;
    border-width: 0 1px;
    border-style: solid;
    border-color: #D9D9D9;
    padding: 1px;
    padding-bottom: 50px;
}

#query_page .box .buffer h2 {
    font-size: 18px;
    font-weight: 700;
}

.download_p {
    font-size: 15px;
    padding: 20px;
}