<div class="loader" *ngIf="loading"></div>

<ng-container *ngIf="! loading">
    <h5 class="text-danger">Search By Genome Location</h5>
    <form [formGroup]="queryForm" (ngSubmit)="processQuery()">
        <div class="form-group row">
            <label for="organism_name" class="col-md-3 col-form-label">Select an organism</label>
            <div class="col-md-6">
                <select formControlName="organism_name" id="organism_name" class="custom-select">
                    <option value=""></option>
                    <option *ngFor="let item of listItems" value="{{ item.organism + '-' + item.version }}">
                        {{ item.label }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="genome_location" class="col-md-3 col-form-label">Enter Genome Location</label>
            <div class="col-md-6">
                <input type="text" class="form-control" formControlName="genome_location" id="genome_location">
            </div>
        </div>
        <button type="submit" class="btn btn-primary px-3" [disabled]="!queryForm.valid || processingQuery"><span *ngIf="!processingQuery"><i class="fas fa-search"></i> Search</span><span *ngIf="processingQuery">Please Wait...</span></button>
    </form>

    <ng-container *ngIf="queryItem.length">
        <hr>
        <h3 class="text-primary">Search Results <span *ngIf="queryItem">({{ queryItem.length }})</span></h3>
        <table id="genome-location-search-result" class="table table-striped table-sm my-3">

        </table>
    </ng-container>

    <div class="alert alert-danger mt-3" role="alert">Input Format: Scaffold_name:location_start-location_end. e.g: Scaffold_2:4000-50000<br>A genome query returns the documented features present in the query location with clickable links.</div>
</ng-container>
