<app-admin-header></app-admin-header>

<div *ngIf="!showForm" class="loader"></div>     

<div class="container-fluid full-page-admin">
    <div class="row">
        <div class="col my-3">
            <form [formGroup]="form" (ngSubmit)="saveContent()">
                <div class="card">
                    <div class="card-header"><h5 class="m-0">Edit News</h5></div>
                    <div class="card-body">

                        <div id="content-block" *ngIf="showForm">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th>Content</th>
                                        <th>Text Format</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of form.get('items').controls; let i = index;" formArrayName="items">
                                        <td [formGroupName]="i">                                        
                                            <div class="custom-control custom-switch">
                                                <input class="custom-control-input" id="customSwitch{{ i }}" type="checkbox" formControlName="status">
                                                <label class="custom-control-label" for="customSwitch{{ i }}">show</label>
                                            </div>
                                        </td>
                                        <td [formGroupName]="i">
                                            <textarea class="form-control" rows="3" formControlName="line"></textarea>
                                        </td>
                                        <td [formGroupName]="i">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input class="custom-control-input" id="customRadioInline1{{ i }}" type="radio" name="{{'format'}}" formControlName="format" value="NORMAL">
                                                <label class="custom-control-label" for="customRadioInline1{{ i }}">Normal</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input class="custom-control-input" id="customRadioInline2{{ i }}" type="radio" name="{{'format'}}" formControlName="format" value="BOLD">
                                                <label class="custom-control-label" for="customRadioInline2{{ i }}">Bold</label>
                                            </div>
                                        </td>
                                    </tr>                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="! loading">Save Changes</span>
                            <span *ngIf="loading">Please wait...</span>
                        </button>
                        <a [routerLink]="['/admin/dashboard']" class="btn btn-outline-secondary ml-3">Cancel</a>        
                        <button (click)="addItem()" type="button" class="btn btn-info float-right">Add New</button>            
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<app-admin-footer></app-admin-footer>
