<footer class="footer-dark mt-3" *ngIf="showFooter">
    <div class="container">
        <div class="row no-gutter py-4 align-items-center">
            <div class="col text-white">Copyright © 2015 - CSIR-IICB · Computational Genomics Lab <a href="https://www.facebook.com/ComputationalBiologyandgenomicslabiicb" target="_blank" rel="noopener"><img src="../../assets/images/fb.png" class="ml-2" alt="Facebook"></a></div>
            <div class="col text-right text-white">Designed and maintained by : Dr. Tripathy's Lab, CSIR-IICB</div>        
        </div>
    </div>
</footer>