<app-top-bar></app-top-bar>
<app-nav-bar></app-nav-bar>

<div class="container">
    <div id="help_page">
        <div class="box">
            <div class="buffer">
                <h2>Template GFF Download</h2>
                <div class="help_p">
                    <p>The follwoing sample files are currently available for download..</p>

                    <table class="table table-bordered">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th>Sample</th>
                                <th>Links</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sample 1</td>
                                <td><a href="/assets/gff/Sample1.gff" download>Download</a></td>
                            </tr>
                            <tr>
                                <td>Sample 2</td>
                                <td><a href="/assets/gff/Sample2.gff" download>Download</a></td>
                            </tr>
                            <tr>
                                <td>Sample 3</td>
                                <td><a href="/assets/gff/Sample3.gff" download>Download</a></td>
                            </tr>
                            <tr>
                                <td>Sample 4</td>
                                <td><a href="/assets/gff/Sample4.gff" download>Download</a></td>
                            </tr>
                            <tr>
                                <td>Sample 5</td>
                                <td><a href="/assets/gff/Sample5.gff" download>Download</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

