<app-top-bar></app-top-bar>
<app-nav-bar></app-nav-bar>

<div class="loader" *ngIf="loading"></div>

<div class="container full-page">
    <div id="help_page">
        <div class="box">
            <div class="buffer">
                <h2>About Us</h2>
                
                <div class="help_p" *ngIf="! loading">
                    <h2 *ngIf="principal_investigator.length">Principal Investigator</h2>
                    
                    <div class="bio" *ngFor="let member of principal_investigator">
                        <div class="dp">
                            <img src="{{ defaultFolder + member.AboutUs_Id + '.jpg?' + timestamp }}" class="img-thumbnail">
                        </div>
                        <div class="profile">
                            <h5 *ngIf="member.AboutUs_Person_Name">{{ member.AboutUs_Person_Name }}</h5>
                            <dl>
                                <ng-container *ngIf="member.Person_Brief_Bio">
                                    <dt>Brief Bio:</dt>
                                    <dd>{{ member.Person_Brief_Bio }}</dd>
                                </ng-container>                                
                                <ng-container *ngIf="member.Person_Interests">
                                    <dt>Research Interests:</dt>
                                    <dd>{{ member.Person_Interests }}</dd>
                                </ng-container>                                
                                <ng-container *ngIf="member.Person_ContactInfo">
                                    <dt>Email:</dt>
                                    <dd><a href="mailto:{{ member.Person_ContactInfo }}">{{ member.Person_ContactInfo }}</a></dd>                                        
                                </ng-container>
                            </dl>                            
                        </div>
                    </div>

                    <h2 *ngIf="graduate_students.length">Graduate Students</h2>

                    <div class="bio" *ngFor="let member of graduate_students">
                        <div class="dp">
                            <img src="{{ defaultFolder + member.AboutUs_Id + '.jpg?' + timestamp }}" class="img-thumbnail">
                        </div>
                        <div class="profile">
                            <h5>{{ member.AboutUs_Person_Name }}</h5>
                            <dl>
                                <ng-container *ngIf="member.Person_Brief_Bio">
                                    <dt>Brief Bio:</dt>
                                    <dd>{{ member.Person_Brief_Bio }}</dd>                                    
                                </ng-container>
                                <ng-container *ngIf="member.Person_Interests">
                                    <dt>Research Interests:</dt>
                                    <dd>{{ member.Person_Interests }}</dd>                                    
                                </ng-container>
                                <ng-container *ngIf="member.Person_ContactInfo">
                                    <dt>Email:</dt>
                                    <dd><a href="mailto:{{ member.Person_ContactInfo }}">{{ member.Person_ContactInfo }}</a></dd>                                    
                                </ng-container>
                            </dl>   
                        </div>
                    </div>

                    <h2 *ngIf="masters_students.length">Masters Students</h2>

                    <div class="bio" *ngFor="let member of masters_students">
                        <div class="dp">
                            <img src="{{ defaultFolder + member.AboutUs_Id + '.jpg?' + timestamp }}" class="img-thumbnail">
                        </div>
                        <div class="profile">
                            <h5>{{ member.AboutUs_Person_Name }}</h5>
                            <dl>
                                <ng-container *ngIf="member.Person_Brief_Bio">
                                    <dt>Brief Bio:</dt>
                                    <dd>{{ member.Person_Brief_Bio }}</dd>                                    
                                </ng-container>
                                <ng-container *ngIf="member.Person_Interests">
                                    <dt>Research Interests:</dt>
                                    <dd>{{ member.Person_Interests }}</dd>                                    
                                </ng-container>
                                <ng-container *ngIf="member.Person_ContactInfo">
                                    <dt>Email:</dt>
                                    <dd><a href="mailto:{{ member.Person_ContactInfo }}">{{ member.Person_ContactInfo }}</a></dd>                                    
                                </ng-container>
                            </dl>   
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
