<app-top-bar></app-top-bar>
<app-nav-bar></app-nav-bar>

<div class="container full-page">
    <div class="row align-items-center justify-content-center">
        <div class="w-50">
            <h2 class="text-center">Login</h2>
            
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>

            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" autocomplete="off">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="form-control" id="username" type="text" value="test">
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control" id="password" type="password" value="test">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="text-center">
                    <button [disabled]="loading" class="btn btn-primary btn-lg px-5">
                        <span *ngIf="! loading">Submit</span><span *ngIf="loading">Please wait...</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>
